 <h2>User info</h2>
   <% if @user.errors.any? %>
  <%= @user.errors.count %>errors prohibited this obj from being saved:
  <% @user.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
 <table>
  <tr><th>
   <%= form_with model:@user, local:true do |f| %>
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th><td>
    <tr><th> <label for="inputName">Name</label></th><td>
    <tr><th> <%= f.text_field :name %></th><td>
    <tr><th> <label for="inputIntroduction">introduction</label></th><td>
    <tr><th> <%= f.text_field :introduction %></th><td>
    <tr><th> <label for="inputImage"></label></th><td>
    <tr><th> <%= f.attachment_field :profile_image %></th><td>
    <tr><th><%= f.submit "Update User" %></td></tr>
   <% end %>
</table>



<!--  <= form_with model:@user, local:true do |f| %>-->

<!-- <= attachment_image_tag @user, :profile_image %>-->
<!--  <label for="inputImage"></label>-->
<!--  <= f.attachment_field :profile_image_id, placeholder: "プロフィール画像" %>-->
<!--  <= f.submit "変更を保存" %>-->
<!--< end %>-->