 <div class="row">

    <div class="col-2">
 <h2>User info</h2>
   <%= form_with model:@user, local:true do |f| %>
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table class="table table-striped">

    <th><label for="inputName">Name</label></th>
   <!--<= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%></td></tr>-->
     <th><%=@user.name %>

    <tr><th><label for="inputIntroduction">introduction</label></th>
   <!--<= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:""%></td></tr>-->
     <th><%=@user.introduction %>
     </th></tr>
</table>

  <%= link_to "Edit", edit_user_path(@user.id), class: "btn btn-secondary" %>
<% end %>

<h2>New book</h>
<%= form_with model: @book, local: true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_field :body %>
  <br><%= f.submit 'Create Book' %></br>
<% end %>
</div>
<div class="col-8 offset-md-2">
<h2>Users</h2>
<table class="table">
<table>
<thead>
<tr>
<th>image</th>
<th>name</th>
<th></th>
</tr>
</thead>

<tbody>
<% @users.each do |user| %>
<tr>
<td>

<%= attachment_image_tag user, :profile_image,  :fill, 100, 100 %>

</td>
<td>
<%= user.name %>
</td>
<td>
<%= link_to "Show", user_path(user.id) %>
</td>
</tr>
<% end %>
</tbody>
  </div>  <!-- この行を追加 -->
</div>
   </div>  <!-- この行を追加 -->
    </div>
     </div>