
   <h2>User info</h2>
   <%= form_with model:@user, local:true do |f| %>

 <%= attachment_image_tag @user, :profile_image %>
  <label for="inputImage"></label>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
  <%= f.submit "変更を保存" %>
<% end %>
  <!--<h3 class="profile-name"><= @user.name %></h3>-->
  <!--<= image_tag('sample-author1.jpg') %>-->
    <!--< if @user.id == current_user.id %>-->
    <!--<p><= link_to "プロフィール編集", edit_user_path(@user) %></p>-->
  <!--< end %>-->



<div>
    <%= attachment_image_tag @user, :profile_image %>

  <!--<p>投稿ユーザー画像：<= image_tag %></p>-->
  <p>name：<%= @user.name %></p>
  <p>introduction：<%= @user.introduction %></p>
</div>

<!--<= paginate @books %>-->
<!--<div>-->
<!--  <= link_to post_image_path(post_image.id) do %>-->
<!--    <= attachment_image_tag post_image, :image %>-->
<!--  < end %>-->

<h2>New book</h>
<%= form_with model: @book, local: true do |f| %>
  <h4>User info</h4>
  <!--<= f.attachment_field :image %>-->
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_field :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>

<table>
<thead>
<tr>
<th>image</th>
<th>name</th>
<th></th>
</tr>
</thead>

<tbody>
<% @users.each do |user| %>
<tr>
<td>
<%= user.profile_image %>
</td>
<td>
<%= user.name %>
</td>
<td>
<%= link_to "show", user_path(user.id) %>
</td>
</tr>
<% end %>
</tbody>
