 <h2>User info</h2>
 　<p><%= flash[:notice] %></p>
   <%= form_with model:@user, local:true do |f| %>
   <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table>

    <tr><th><label for="inputName">Name</label></th><td>
   <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name"%></td></tr>

   <tr><th><label for="inputIntroduction">introduction</label></th><td>
   <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:""%></td></tr>

</table>

  <%=link_to "edit", edit_user_path(@user.id) %>

<% end %>

<h2>New book</h>
<%= form_with model: @book_new, local: true do |f| %>

  <!--<= f.attachment_field :image %>-->
  <p>Title<p>
  <%= f.text_field :title %>
  <p>Opinion<p>
  <%= f.text_field :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Book detail</h2>
<table>
<tr><th><%= attachment_image_tag @book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></th><td>
</th><td><%= @book.title %></th><td>
</th><td><%= @book.body %></th><td>
</th><td><%= link_to "edit", edit_book_path(@book.id) %></th><td>
</th><td><%= link_to "destroy", book_path(@book.id), method: :delete, data: { confirm: 'Are you sure?'}  %></th><td>
<tr><th><%= link_to "#{@book.user.name}", user_path(@user.id) %></th><td>
</table>



